# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-  List popular languages for Data Science
-  List commonly used libraries in Data Science
-  Evaluating arithmetic expressions in Python
-  Create ordered and unordered lists in Markdown

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Lab|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Prodan Ana Debora